## Exploring the school index info to generate historical and official win-loss percentage data.

### Data Sources

1. [Sports Reference CFB School Index](https://www.sports-reference.com/cfb/schools/)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

Inport the data.

In [2]:
data = pd.read_csv('Data/school_index_sr.csv')

Some general info about the dataset.

In [3]:
print(data.shape)
print(data.isnull().sum())
data.head()

(298, 20)
Rk          0
School      0
From        0
To          0
Yrs         0
G           0
W           0
L           0
T           0
Pct         0
G.1         0
W.1         0
L.1         0
T.1         0
Pct.1     135
SRS         0
SOS         0
AP          0
CC          0
Notes     231
dtype: int64

,Rk,School,From,To,Yrs,G,W,L,T,Pct,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,1,Air Force,1957,2019,63,705,384,325,12,0.541,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,2,Akron,1975,2019,34,383,150,230,3,0.396,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,3,Alabama,1902,2019,116,1213,919,303,42,0.744,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
3,4,Alameda Coast Guard,1943,1944,2,15,8,4,3,0.633,0,0,0,0,NaN,-0.16,-5.13,0,0,NaN
4,5,Alcorn State,1977,1977,1,11,3,8,0,0.273,0,0,0,0,NaN,-17.10,-9.19,0,0,NaN

Two things stand out to us immediately.  First, some of these schools are only represented from past seasons, but are not surrently competing.  See the feature column `'To'`.  We will filter our data to keep down to only teams competing in the updcoming season.  The other thing to note is that the information in the Win-Loss-Tie columns, along with the win percentage are not all officially accurate.  The NCAA sometimes, after reviewing a teams eligibality, decides that a teams wins must be [forfieted or vacated](https://www.sports-reference.com/cfb/friv/forfeits.html).  So, officially, there is an adjusted win percentage, while the one displayed in the column labeled `'Pct'` is more of an on the day of win percentage.

In what follows we will first remove the teams that are not currently competing.  Then we will create several new features for displaying the official win-loss-tie and win percentage data, taking into account the information in the `'Notes'` feature.

In [4]:
# defining the stuff_to_keep dataset that we will transform below.
stuff_to_keep = data[data['To'] == 2019]

In [5]:
print(stuff_to_keep.shape)
print(stuff_to_keep.isnull().sum())
stuff_to_keep.head()

(130, 20)
Rk         0
School     0
From       0
To         0
Yrs        0
G          0
W          0
L          0
T          0
Pct        0
G.1        0
W.1        0
L.1        0
T.1        0
Pct.1      5
SRS        0
SOS        0
AP         0
CC         0
Notes     67
dtype: int64

,Rk,School,From,To,Yrs,G,W,L,T,Pct,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,1,Air Force,1957,2019,63,705,384,325,12,0.541,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,2,Akron,1975,2019,34,383,150,230,3,0.396,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,3,Alabama,1902,2019,116,1213,919,303,42,0.744,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
7,8,Appalachian State,1972,2019,16,174,97,72,5,0.572,4,4,0,0,1.000,-3.06,-6.96,0,1,NaN
8,9,Arizona,1931,2019,86,920,486,422,23,0.534,20,9,10,1,0.500,1.72,0.59,8,6,NaN

Notice that there are 67 nulls in the `'Notes'` feature.  Let's explore the different types of information that are housed in this column.

In [6]:
# first, extend the number of displayed rows
pd.options.display.max_rows = 200

In [7]:
# now, reset the index
stuff_to_keep.reset_index(inplace=True)
stuff_to_keep.head()

,index,Rk,School,From,To,Yrs,G,W,L,T,...,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,0,1,Air Force,1957,2019,63,705,384,325,12,...,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,1,2,Akron,1975,2019,34,383,150,230,3,...,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,2,3,Alabama,1902,2019,116,1213,919,303,42,...,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
3,7,8,Appalachian State,1972,2019,16,174,97,72,5,...,4,4,0,0,1.000,-3.06,-6.96,0,1,NaN
4,8,9,Arizona,1931,2019,86,920,486,422,23,...,20,9,10,1,0.500,1.72,0.59,8,6,NaN

Now, drop the unneeded `'index'` column.

In [8]:
stuff_to_keep.drop(columns='index', axis=1, inplace=True)
stuff_to_keep.head()

/Users/blakewallace/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Rk,School,From,To,Yrs,G,W,L,T,Pct,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,1,Air Force,1957,2019,63,705,384,325,12,0.541,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,2,Akron,1975,2019,34,383,150,230,3,0.396,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,3,Alabama,1902,2019,116,1213,919,303,42,0.744,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
3,8,Appalachian State,1972,2019,16,174,97,72,5,0.572,4,4,0,0,1.000,-3.06,-6.96,0,1,NaN
4,9,Arizona,1931,2019,86,920,486,422,23,0.534,20,9,10,1,0.500,1.72,0.59,8,6,NaN

Next, we explore the data in the `'Notes'` feature.

In [9]:
stuff_to_keep[stuff_to_keep['Notes'].notnull()]

,Rk,School,From,To,Yrs,G,W,L,T,Pct,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
2,3,Alabama,1902,2019,116,1213,919,303,42,0.744,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
6,11,Arkansas,1906,2019,114,1169,681,481,37,0.583,42,15,24,3,0.393,6.58,2.99,28,14,record adjusted to 682-480-37 by NCAA
7,12,Arkansas State,1974,2019,38,431,193,236,2,0.450,9,3,6,0,0.375,-9.25,-6.99,0,6,record adjusted to 183-236-2 by NCAA
9,14,Auburn,1902,2019,117,1190,741,431,43,0.628,43,24,17,2,0.595,8.78,4.41,39,8,record adjusted to 744-429-42 by NCAA
11,17,Baylor,1903,2019,114,1176,584,565,41,0.508,24,13,11,0,0.542,2.63,2.61,14,8,record adjusted to 584-565-40 by NCAA
17,33,California,1916,2019,104,1105,571,513,31,0.526,23,11,11,1,0.500,5.53,4.17,14,13,record adjusted to 568-512-31 by NCAA
24,55,Colorado State,1902,2019,112,1095,515,556,31,0.481,17,6,11,0,0.375,-3.80,-2.97,3,15,record adjusted to 516-555-31 by NCAA
27,73,East Carolina,1965,2019,55,611,320,296,3,0.519,16,7,9,0,0.438,-2.61,-2.81,2,6,record adjusted to 321-295-3 by NCAA
32,81,Florida State,1954,2019,66,743,519,236,16,0.684,46,28,16,2,0.622,11.32,4.03,33,15,record adjusted to 508-235-16 by NCAA
33,87,Fresno State,1969,2019,51,602,350,251,4,0.582,23,11,12,0,0.455,-1.77,-5.29,3,11,record adjusted to 351-250-4 by NCAA
37,95,Georgia Tech,1902,2019,118,1224,729,481,40,0.599,45,25,20,0,0.556,8.72,4.56,25,8,record adjusted to 728-481-40 by NCAA
39,108,Houston,1949,2019,71,777,429,346,15,0.553,27,11,15,1,0.442,3.22,1.13,14,11,record adjusted to 429-346-14 by NCAA
41,113,Indiana,1899,2019,121,1152,459,656,38,0.415,11,3,8,0,0.273,1.96,4.55,5,2,record adjusted to 460-655-38 by NCAA
42,115,Iowa,1899,2019,121,1174,619,530,34,0.538,32,16,15,1,0.500,6.66,5.17,23,11,record adjusted to 620-529-34 by NCAA
43,117,Iowa State,1895,2019,122,1194,511,642,45,0.445,14,4,10,0,0.231,-0.06,1.31,2,2,record adjusted to 512-641-45 by NCAA
45,121,Kansas State,1912,2019,108,1096,471,600,35,0.442,21,9,12,0,0.400,-0.49,1.88,13,3,record adjusted to 472-600-34 by NCAA
47,123,Kentucky,1915,2019,104,1069,491,552,36,0.472,18,9,9,0,0.529,3.76,4.01,9,2,record adjusted to 492-551-36 by NCAA
49,133,Louisiana,1973,2019,47,527,226,296,5,0.434,6,4,2,0,0.667,-9.55,-6.12,0,5,record adjusted to 205-295-5 by NCAA
50,134,Louisiana Tech,1975,2019,39,443,229,211,7,0.520,11,7,3,1,0.650,-3.90,-4.66,0,4,record adjusted to 230-210-7 by NCAA
52,136,Louisville,1962,2019,58,647,349,298,7,0.539,21,9,11,1,0.475,-0.98,-2.07,11,8,record adjusted to 351-296-7 by NCAA
53,139,LSU,1902,2019,115,1185,767,402,47,0.650,50,26,23,1,0.541,9.82,4.41,41,11,record adjusted to 769-400-47 by NCAA
57,151,Memphis,1960,2019,60,660,314,338,8,0.482,11,4,7,0,0.400,-1.28,-1.61,2,4,record adjusted to 315-337-8 by NCAA
59,155,Miami (OH),1962,2019,58,641,350,278,15,0.556,9,5,4,0,0.556,-4.03,-6.28,4,9,record adjusted to 351-277-15 by NCAA
61,157,Michigan State,1918,2019,95,982,578,377,30,0.602,28,12,16,0,0.407,9.26,4.81,27,9,record adjusted to 573-382-30 by NCAA
64,162,Mississippi State,1902,2019,115,1146,572,548,37,0.510,22,13,9,0,0.571,3.36,2.93,14,1,record adjusted to 555-566-36 by NCAA
65,164,Missouri,1901,2019,118,1189,629,531,50,0.540,33,15,18,0,0.469,4.80,3.16,19,12,record adjusted to 631-529-50 by NCAA
67,170,Nebraska,1900,2019,120,1235,862,363,38,0.698,53,26,27,0,0.491,10.83,3.71,48,43,record adjusted to 863-363-37 by NCAA
69,172,Nevada-Las Vegas,1978,2019,42,476,179,296,3,0.378,4,3,1,0,0.750,-9.32,-4.07,0,1,record adjusted to 161-314-3 by NCAA
71,175,New Mexico State,1931,2019,86,904,314,579,14,0.354,4,3,0,1,0.833,-13.10,-7.71,1,4,record adjusted to 315-578-14 by NCAA
72,179,North Carolina,1902,2019,116,1189,647,514,48,0.555,33,14,19,0,0.424,4.68,2.87,16,7,record adjusted to 631-514-48 by NCAA
74,182,North Texas,1953,2019,55,596,258,330,11,0.440,9,2,7,0,0.250,-7.92,-5.13,0,9,record adjusted to 261-327-11 by NCAA
76,186,Northwestern,1892,2019,126,1233,535,659,40,0.450,15,5,10,0,0.286,2.94,5.46,12,8,record adjusted to 536-658-40 by NCAA
77,188,Notre Dame,1899,2019,113,1160,841,310,33,0.724,37,18,19,0,0.472,14.74,6.15,54,0,record adjusted to 820-310-33 by NCAA
79,191,Ohio State,1904,2019,108,1094,803,258,36,0.748,50,25,25,0,0.490,14.96,5.91,58,37,record adjusted to 791-257-36 by NCAA
83,195,Ole Miss,1902,2019,114,1156,641,505,34,0.558,37,24,13,0,0.649,4.78,2.74,25,6,record adjusted to 612-501-34 by NCAA
84,196,Oregon,1916,2019,102,1063,579,455,34,0.558,32,14,18,0,0.452,5.39,3.34,16,11,record adjusted to 580-454-34 by NCAA
85,197,Oregon State,1916,2019,102,1058,460,564,36,0.451,15,9,6,0,0.600,1.69,3.64,10,5,record adjusted to 462-562-36 by NCAA
87,202,Pitt,1905,2019,115,1182,675,482,37,0.581,34,13,21,0,0.382,7.30,4.27,19,2,record adjusted to 676-481-37 by NCAA
88,207,Purdue,1892,2019,128,1212,603,563,48,0.516,19,10,9,0,0.500,5.66,4.54,17,8,record adjusted to 604-562-48 by NCAA
89,212,Rice,1914,2019,106,1104,464,616,32,0.432,12,7,5,0,0.583,-0.23,2.59,8,8,record adjusted to 465-615-32 by NCAA
90,214,Rutgers,1869,2019,105,978,478,478,22,0.500,10,6,4,0,0.600,-3.12,-2.98,4,1,record adjusted to 479-477-22 by NCAA
91,219,San Diego State,1969,2019,51,588,323,261,8,0.552,13,5,8,0,0.417,-0.02,-1.81,2,9,record adjusted to 324-260-8 by NCAA
92,221,San Jose State,1950,2019,70,764,333,418,14,0.444,8,5,3,0,0.625,-5.72,-3.45,1,8,record adjusted to 334-417-14 by NCAA
93,226,SMU,1916,2019,102,1076,491,542,54,0.477,16,7,8,1,0.500,1.96,2.72,11,10,record adjusted to 487-536-54 by NCAA
95,228,South Carolina,1903,2019,112,1159,575,546,41,0.512,23,9,14,0,0.364,2.15,1.71,9,1,record adjusted to 576-545-41 by NCAA
97,232,Southern Mississippi,1963,2019,57,637,357,281,6,0.559,21,11,10,0,0.550,0.38,-1.79,3,5,record adjusted to 360-278-6 by NCAA
99,239,Syracuse,1899,2019,118,1186,674,490,41,0.576,26,16,9,1,0.635,4.39,1.28,16,5,record adjusted to 663-490-41 by NCAA
100,241,Temple,1930,2019,72,752,322,406,26,0.444,8,3,5,0,0.286,-2.81,-0.88,1,1,record adjusted to 317-411-26 by NCAA
101,242,Tennessee,1902,2019,115,1198,813,372,51,0.678,52,28,24,0,0.538,10.10,3.54,44,13,record adjusted to 814-372-50 by NCAA
102,245,Texas,1902,2019,118,1209,857,360,32,0.699,55,29,24,2,0.537,11.83,4.08,47,30,record adjusted to 858-360-31 by NCAA
104,247,Texas Christian,1903,2019,114,1192,630,527,50,0.543,34,17,16,1,0.500,2.70,1.71,20,17,record adjusted to 630-526-50 by NCAA
107,252,Toledo,1962,2019,58,649,383,263,8,0.592,18,10,8,0,0.588,-4.47,-7.34,4,11,record adjusted to 385-261-8 by NCAA
109,256,Tulane,1902,2019,115,1154,502,624,35,0.447,12,5,7,0,0.417,0.26,1.88,7,4,record adjusted to 503-623-35 by NCAA
113,260,UCLA,1928,2019,92,992,583,384,31,0.600,36,16,19,1,0.471,9.30,5.83,32,16,record adjusted to 576-391-31 by NCAA
114,262,USC,1922,2019,98,1090,755,305,40,0.705,54,35,19,0,0.660,14.16,6.42,49,38,record adjusted to 741-305-40 by NCAA
116,264,Utah State,1912,2019,105,1044,507,514,28,0.497,12,5,7,0,0.455,-4.81,-4.92,3,12,record adjusted to 509-512-28 by NCAA
119,267,Vanderbilt,1902,2019,116,1181,544,597,43,0.478,9,4,4,1,0.500,3.84,3.50,3,0,record adjusted to 545-596-43 by NCAA
121,272,Virginia Tech,1902,2019,116,1194,708,456,44,0.604,32,13,19,0,0.419,3.23,-1.03,20,8,record adjusted to 709-455-44 by NCAA
123,276,Washington,1916,2019,103,1055,629,421,32,0.596,37,17,19,1,0.486,8.15,4.45,25,18,record adjusted to 632-418-32 by NCAA
124,280,Washington State,1917,2019,100,1029,473,520,38,0.477,14,7,7,0,0.538,2.59,3.35,12,4,record adjusted to 475-518-38 by NCAA
127,287,Western Michigan,1962,2019,58,636,330,300,7,0.524,8,1,7,0,0.125,-6.78,-7.60,1,3,record adjusted to 331-299-7 by NCAA
128,293,Wisconsin,1892,2019,128,1237,700,490,52,0.585,30,16,14,0,0.517,8.17,4.75,25,14,record adjusted to 701-489-52 by NCAA
129,296,Wyoming,1905,2019,108,1087,507,560,26,0.476,15,7,8,0,0.429,-4.62,-3.16,4,14,record adjusted to 508-559-26 by NCAA

Here is a look at how the win percentage is calculated.  Note that each tie is counted as a half win.

In [42]:
(2*919+42)/(2*(919+303+42))

0.7436708860759493

In [43]:
(2*890+41)/(2*(890+312+41))

0.7325020112630732

In [10]:
stuff_to_keep['Notes'][2:3]

2    record adjusted to 890-312-41 by NCAA
Name: Notes, dtype: object

Now, we create a dictionary to hold the index and the official record.

In [11]:
dict_index_record = {}

for index, value in stuff_to_keep['Notes'].items():
    if type(value) == str:
#         print(index, value[19:29])
        dict_index_record[index] = value[19:29].split('-')
dict_index_record
#         win_loss_tie = value[19:29].split('-')
#         dict_win_loss_tie[index] = 
#         print(win_loss_tie)

{2: ['890', '312', '41'],
 6: ['682', '480', '37'],
 7: ['183', '236', '2 '],
 9: ['744', '429', '42'],
 11: ['584', '565', '40'],
 17: ['568', '512', '31'],
 24: ['516', '555', '31'],
 27: ['321', '295', '3 '],
 32: ['508', '235', '16'],
 33: ['351', '250', '4 '],
 37: ['728', '481', '40'],
 39: ['429', '346', '14'],
 41: ['460', '655', '38'],
 42: ['620', '529', '34'],
 43: ['512', '641', '45'],
 45: ['472', '600', '34'],
 47: ['492', '551', '36'],
 49: ['205', '295', '5 '],
 50: ['230', '210', '7 '],
 52: ['351', '296', '7 '],
 53: ['769', '400', '47'],
 57: ['315', '337', '8 '],
 59: ['351', '277', '15'],
 61: ['573', '382', '30'],
 64: ['555', '566', '36'],
 65: ['631', '529', '50'],
 67: ['863', '363', '37'],
 69: ['161', '314', '3 '],
 71: ['315', '578', '14'],
 72: ['631', '514', '48'],
 74: ['261', '327', '11'],
 76: ['536', '658', '40'],
 77: ['820', '310', '33'],
 79: ['791', '257', '36'],
 83: ['612', '501', '34'],
 84: ['580', '454', '34'],
 85: ['462', '562', '36'],
 87: ['676', '481', '37'],
 88: ['604', '562', '48'],
 89: ['465', '615', '32'],
 90: ['479', '477', '22'],
 91: ['324', '260', '8 '],
 92: ['334', '417', '14'],
 93: ['487', '536', '54'],
 95: ['576', '545', '41'],
 97: ['360', '278', '6 '],
 99: ['663', '490', '41'],
 100: ['317', '411', '26'],
 101: ['814', '372', '50'],
 102: ['858', '360', '31'],
 104: ['630', '526', '50'],
 107: ['385', '261', '8 '],
 109: ['503', '623', '35'],
 113: ['576', '391', '31'],
 114: ['741', '305', '40'],
 116: ['509', '512', '28'],
 119: ['545', '596', '43'],
 121: ['709', '455', '44'],
 123: ['632', '418', '32'],
 124: ['475', '518', '38'],
 127: ['331', '299', '7 '],
 128: ['701', '489', '52'],
 129: ['508', '559', '26']}

Next, convert the values in each list to integer values (at the moment they are strings, which is indicated by the quotes around them).

In [12]:
for item in dict_index_record:
    for i in range(len(dict_index_record[item])):
        dict_index_record[item][i] = int(dict_index_record[item][i])
#     print(dict_index_record[item])
dict_index_record

{2: [890, 312, 41],
 6: [682, 480, 37],
 7: [183, 236, 2],
 9: [744, 429, 42],
 11: [584, 565, 40],
 17: [568, 512, 31],
 24: [516, 555, 31],
 27: [321, 295, 3],
 32: [508, 235, 16],
 33: [351, 250, 4],
 37: [728, 481, 40],
 39: [429, 346, 14],
 41: [460, 655, 38],
 42: [620, 529, 34],
 43: [512, 641, 45],
 45: [472, 600, 34],
 47: [492, 551, 36],
 49: [205, 295, 5],
 50: [230, 210, 7],
 52: [351, 296, 7],
 53: [769, 400, 47],
 57: [315, 337, 8],
 59: [351, 277, 15],
 61: [573, 382, 30],
 64: [555, 566, 36],
 65: [631, 529, 50],
 67: [863, 363, 37],
 69: [161, 314, 3],
 71: [315, 578, 14],
 72: [631, 514, 48],
 74: [261, 327, 11],
 76: [536, 658, 40],
 77: [820, 310, 33],
 79: [791, 257, 36],
 83: [612, 501, 34],
 84: [580, 454, 34],
 85: [462, 562, 36],
 87: [676, 481, 37],
 88: [604, 562, 48],
 89: [465, 615, 32],
 90: [479, 477, 22],
 91: [324, 260, 8],
 92: [334, 417, 14],
 93: [487, 536, 54],
 95: [576, 545, 41],
 97: [360, 278, 6],
 99: [663, 490, 41],
 100: [317, 411, 26],
 101: [814, 372, 50],
 102: [858, 360, 31],
 104: [630, 526, 50],
 107: [385, 261, 8],
 109: [503, 623, 35],
 113: [576, 391, 31],
 114: [741, 305, 40],
 116: [509, 512, 28],
 119: [545, 596, 43],
 121: [709, 455, 44],
 123: [632, 418, 32],
 124: [475, 518, 38],
 127: [331, 299, 7],
 128: [701, 489, 52],
 129: [508, 559, 26]}

Now, we take each record and create a dictionary that house the win-loss-tie data.

In [14]:
# sample code
lst1 = [4, 7, 2]
lst2 = [3,6, 5]

outcome = ['win', 'loss', 'tie']
inner_dict = {}
dict_prac = {}
lst = [lst1, lst2]
for thing in range(len(lst)): 
    for j in range(len(lst[thing])):
#         print(j)
        
        inner_dict[outcome[j]] = lst[thing][j]
    dict_prac[str(lst[thing])] = inner_dict
    inner_dict = {}
dict_prac

{'[4, 7, 2]': {'win': 4, 'loss': 7, 'tie': 2},
 '[3, 6, 5]': {'win': 3, 'loss': 6, 'tie': 5}}

The next code block generates a dictionary housing the official win-loss-tie data in a dictionary, `dict_win_loss_tie`.

In [18]:
outcome = ['win', 'loss', 'tie']
inner_dict = {}
dict_win_loss_tie = {}

for thing in dict_index_record: 
    for j in range(len(dict_index_record[thing])):
#         print(j)
        
        inner_dict[outcome[j]] = dict_index_record[thing][j]
    dict_win_loss_tie[thing] = inner_dict
    inner_dict = {}
dict_win_loss_tie

{2: {'win': 890, 'loss': 312, 'tie': 41},
 6: {'win': 682, 'loss': 480, 'tie': 37},
 7: {'win': 183, 'loss': 236, 'tie': 2},
 9: {'win': 744, 'loss': 429, 'tie': 42},
 11: {'win': 584, 'loss': 565, 'tie': 40},
 17: {'win': 568, 'loss': 512, 'tie': 31},
 24: {'win': 516, 'loss': 555, 'tie': 31},
 27: {'win': 321, 'loss': 295, 'tie': 3},
 32: {'win': 508, 'loss': 235, 'tie': 16},
 33: {'win': 351, 'loss': 250, 'tie': 4},
 37: {'win': 728, 'loss': 481, 'tie': 40},
 39: {'win': 429, 'loss': 346, 'tie': 14},
 41: {'win': 460, 'loss': 655, 'tie': 38},
 42: {'win': 620, 'loss': 529, 'tie': 34},
 43: {'win': 512, 'loss': 641, 'tie': 45},
 45: {'win': 472, 'loss': 600, 'tie': 34},
 47: {'win': 492, 'loss': 551, 'tie': 36},
 49: {'win': 205, 'loss': 295, 'tie': 5},
 50: {'win': 230, 'loss': 210, 'tie': 7},
 52: {'win': 351, 'loss': 296, 'tie': 7},
 53: {'win': 769, 'loss': 400, 'tie': 47},
 57: {'win': 315, 'loss': 337, 'tie': 8},
 59: {'win': 351, 'loss': 277, 'tie': 15},
 61: {'win': 573, 'loss': 382, 'tie': 30},
 64: {'win': 555, 'loss': 566, 'tie': 36},
 65: {'win': 631, 'loss': 529, 'tie': 50},
 67: {'win': 863, 'loss': 363, 'tie': 37},
 69: {'win': 161, 'loss': 314, 'tie': 3},
 71: {'win': 315, 'loss': 578, 'tie': 14},
 72: {'win': 631, 'loss': 514, 'tie': 48},
 74: {'win': 261, 'loss': 327, 'tie': 11},
 76: {'win': 536, 'loss': 658, 'tie': 40},
 77: {'win': 820, 'loss': 310, 'tie': 33},
 79: {'win': 791, 'loss': 257, 'tie': 36},
 83: {'win': 612, 'loss': 501, 'tie': 34},
 84: {'win': 580, 'loss': 454, 'tie': 34},
 85: {'win': 462, 'loss': 562, 'tie': 36},
 87: {'win': 676, 'loss': 481, 'tie': 37},
 88: {'win': 604, 'loss': 562, 'tie': 48},
 89: {'win': 465, 'loss': 615, 'tie': 32},
 90: {'win': 479, 'loss': 477, 'tie': 22},
 91: {'win': 324, 'loss': 260, 'tie': 8},
 92: {'win': 334, 'loss': 417, 'tie': 14},
 93: {'win': 487, 'loss': 536, 'tie': 54},
 95: {'win': 576, 'loss': 545, 'tie': 41},
 97: {'win': 360, 'loss': 278, 'tie': 6},
 99: {'win': 663, 'loss': 490, 'tie': 41},
 100: {'win': 317, 'loss': 411, 'tie': 26},
 101: {'win': 814, 'loss': 372, 'tie': 50},
 102: {'win': 858, 'loss': 360, 'tie': 31},
 104: {'win': 630, 'loss': 526, 'tie': 50},
 107: {'win': 385, 'loss': 261, 'tie': 8},
 109: {'win': 503, 'loss': 623, 'tie': 35},
 113: {'win': 576, 'loss': 391, 'tie': 31},
 114: {'win': 741, 'loss': 305, 'tie': 40},
 116: {'win': 509, 'loss': 512, 'tie': 28},
 119: {'win': 545, 'loss': 596, 'tie': 43},
 121: {'win': 709, 'loss': 455, 'tie': 44},
 123: {'win': 632, 'loss': 418, 'tie': 32},
 124: {'win': 475, 'loss': 518, 'tie': 38},
 127: {'win': 331, 'loss': 299, 'tie': 7},
 128: {'win': 701, 'loss': 489, 'tie': 52},
 129: {'win': 508, 'loss': 559, 'tie': 26}}

From the above variable, `dict_win_loss_tie`, we create feature variables that capture the official `'adjusted'` outcomes.