## Exploring the school index info to generate historical and official win-loss percentage data.

### Data Sources

1. [Sports Reference CFB School Index](https://www.sports-reference.com/cfb/schools/)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

Import the school index data that has the original win-loss-tie data and percentages, along with information about the official NCAA record after considering forfeits and vacated games.

In [2]:
data = pd.read_csv('Data/school_index_sr.csv')

Some general info about the dataset.

In [3]:
print(data.shape)
print(data.isnull().sum())
data.head()

(298, 20)
Rk          0
School      0
From        0
To          0
Yrs         0
G           0
W           0
L           0
T           0
Pct         0
G.1         0
W.1         0
L.1         0
T.1         0
Pct.1     135
SRS         0
SOS         0
AP          0
CC          0
Notes     231
dtype: int64

,Rk,School,From,To,Yrs,G,W,L,T,Pct,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,1,Air Force,1957,2019,63,705,384,325,12,0.541,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,2,Akron,1975,2019,34,383,150,230,3,0.396,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,3,Alabama,1902,2019,116,1213,919,303,42,0.744,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
3,4,Alameda Coast Guard,1943,1944,2,15,8,4,3,0.633,0,0,0,0,NaN,-0.16,-5.13,0,0,NaN
4,5,Alcorn State,1977,1977,1,11,3,8,0,0.273,0,0,0,0,NaN,-17.10,-9.19,0,0,NaN

Two things stand out to us immediately.  First, some of these schools are only represented from past seasons, but are not currently competing.  See the feature column `'To'`.  We will filter our data down to keep only teams competing in the updcoming season.  The other thing to note is that the information in the Win-Loss-Tie columns, along with the win percentages are not all officially accurate.  The NCAA sometimes, after reviewing a teams eligibality, decides that a teams wins must be [forfieted or vacated](https://www.sports-reference.com/cfb/friv/forfeits.html).  So, officially, there is an adjusted official win percentage, while the one displayed in the column labeled `'Pct'` is more of an "on the day of" win percentage.

In what follows we will first remove the teams that are not currently competing.  Then we will create several new features for displaying the official win-loss-tie and win percentage data, taking into account the information in the `'Notes'` feature.

In [4]:
# defining the stuff_to_keep dataset that we will transform below.
stuff_to_keep = data[data['To'] == 2019]

General information about the `'stuff_to_keep'` dataframe.

In [5]:
print(stuff_to_keep.shape)
print(stuff_to_keep.isnull().sum())
stuff_to_keep.head()

(130, 20)
Rk         0
School     0
From       0
To         0
Yrs        0
G          0
W          0
L          0
T          0
Pct        0
G.1        0
W.1        0
L.1        0
T.1        0
Pct.1      5
SRS        0
SOS        0
AP         0
CC         0
Notes     67
dtype: int64

,Rk,School,From,To,Yrs,G,W,L,T,Pct,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,1,Air Force,1957,2019,63,705,384,325,12,0.541,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,2,Akron,1975,2019,34,383,150,230,3,0.396,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,3,Alabama,1902,2019,116,1213,919,303,42,0.744,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
7,8,Appalachian State,1972,2019,16,174,97,72,5,0.572,4,4,0,0,1.000,-3.06,-6.96,0,1,NaN
8,9,Arizona,1931,2019,86,920,486,422,23,0.534,20,9,10,1,0.500,1.72,0.59,8,6,NaN

Notice that there are 67 nulls in the `'Notes'` feature.  Let's explore the different information that is housed in this column.

In [6]:
# first, extend the number of displayed rows
pd.options.display.max_rows = 200

In [7]:
# now, reset the index
stuff_to_keep.reset_index(inplace=True)
stuff_to_keep.head()

,index,Rk,School,From,To,Yrs,G,W,L,T,...,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,0,1,Air Force,1957,2019,63,705,384,325,12,...,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,1,2,Akron,1975,2019,34,383,150,230,3,...,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,2,3,Alabama,1902,2019,116,1213,919,303,42,...,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
3,7,8,Appalachian State,1972,2019,16,174,97,72,5,...,4,4,0,0,1.000,-3.06,-6.96,0,1,NaN
4,8,9,Arizona,1931,2019,86,920,486,422,23,...,20,9,10,1,0.500,1.72,0.59,8,6,NaN

Now, drop the unneeded `'index'` column.

In [8]:
stuff_to_keep.drop(columns='index', axis=1, inplace=True)
stuff_to_keep.head()

/Users/blakewallace/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Rk,School,From,To,Yrs,G,W,L,T,Pct,G.1,W.1,L.1,T.1,Pct.1,SRS,SOS,AP,CC,Notes
0,1,Air Force,1957,2019,63,705,384,325,12,0.541,26,12,13,1,0.481,1.02,-0.57,6,3,NaN
1,2,Akron,1975,2019,34,383,150,230,3,0.396,3,1,2,0,0.500,-11.46,-7.08,0,1,NaN
2,3,Alabama,1902,2019,116,1213,919,303,42,0.744,70,41,26,3,0.596,13.44,4.15,56,26,record adjusted to 890-312-41 by NCAA
3,8,Appalachian State,1972,2019,16,174,97,72,5,0.572,4,4,0,0,1.000,-3.06,-6.96,0,1,NaN
4,9,Arizona,1931,2019,86,920,486,422,23,0.534,20,9,10,1,0.500,1.72,0.59,8,6,NaN

Next, we explore the data in the `'Notes'` feature.

In [9]:
stuff_to_keep[stuff_to_keep['Notes'].notnull()]['Notes']

2      record adjusted to 890-312-41 by NCAA
6      record adjusted to 682-480-37 by NCAA
7       record adjusted to 183-236-2 by NCAA
9      record adjusted to 744-429-42 by NCAA
11     record adjusted to 584-565-40 by NCAA
17     record adjusted to 568-512-31 by NCAA
24     record adjusted to 516-555-31 by NCAA
27      record adjusted to 321-295-3 by NCAA
32     record adjusted to 508-235-16 by NCAA
33      record adjusted to 351-250-4 by NCAA
37     record adjusted to 728-481-40 by NCAA
39     record adjusted to 429-346-14 by NCAA
41     record adjusted to 460-655-38 by NCAA
42     record adjusted to 620-529-34 by NCAA
43     record adjusted to 512-641-45 by NCAA
45     record adjusted to 472-600-34 by NCAA
47     record adjusted to 492-551-36 by NCAA
49      record adjusted to 205-295-5 by NCAA
50      record adjusted to 230-210-7 by NCAA
52      record adjusted to 351-296-7 by NCAA
53     record adjusted to 769-400-47 by NCAA
57      record adjusted to 315-337-8 by NCAA
59     record adjusted to 351-277-15 by NCAA
61     record adjusted to 573-382-30 by NCAA
64     record adjusted to 555-566-36 by NCAA
65     record adjusted to 631-529-50 by NCAA
67     record adjusted to 863-363-37 by NCAA
69      record adjusted to 161-314-3 by NCAA
71     record adjusted to 315-578-14 by NCAA
72     record adjusted to 631-514-48 by NCAA
74     record adjusted to 261-327-11 by NCAA
76     record adjusted to 536-658-40 by NCAA
77     record adjusted to 820-310-33 by NCAA
79     record adjusted to 791-257-36 by NCAA
83     record adjusted to 612-501-34 by NCAA
84     record adjusted to 580-454-34 by NCAA
85     record adjusted to 462-562-36 by NCAA
87     record adjusted to 676-481-37 by NCAA
88     record adjusted to 604-562-48 by NCAA
89     record adjusted to 465-615-32 by NCAA
90     record adjusted to 479-477-22 by NCAA
91      record adjusted to 324-260-8 by NCAA
92     record adjusted to 334-417-14 by NCAA
93     record adjusted to 487-536-54 by NCAA
95     record adjusted to 576-545-41 by NCAA
97      record adjusted to 360-278-6 by NCAA
99     record adjusted to 663-490-41 by NCAA
100    record adjusted to 317-411-26 by NCAA
101    record adjusted to 814-372-50 by NCAA
102    record adjusted to 858-360-31 by NCAA
104    record adjusted to 630-526-50 by NCAA
107     record adjusted to 385-261-8 by NCAA
109    record adjusted to 503-623-35 by NCAA
113    record adjusted to 576-391-31 by NCAA
114    record adjusted to 741-305-40 by NCAA
116    record adjusted to 509-512-28 by NCAA
119    record adjusted to 545-596-43 by NCAA
121    record adjusted to 709-455-44 by NCAA
123    record adjusted to 632-418-32 by NCAA
124    record adjusted to 475-518-38 by NCAA
127     record adjusted to 331-299-7 by NCAA
128    record adjusted to 701-489-52 by NCAA
129    record adjusted to 508-559-26 by NCAA
Name: Notes, dtype: object

Visual inspection of this data reveals that every non-empty note contains an officially adjusted win-loss-tie record, and nothing else.

Here is a look at how the win percentage is calculated.  Note that each tie is counted as a half win.

In [42]:
(2*919+42)/(2*(919+303+42))

0.7436708860759493

In [43]:
(2*890+41)/(2*(890+312+41))

0.7325020112630732

Now, we create a dictionary to hold the index and the official record.

In [10]:
dict_index_record = {}

for index, value in stuff_to_keep['Notes'].items():
    if type(value) == str:
#         print(index, value[19:29])
        dict_index_record[index] = value[19:29].split('-')
dict_index_record
#     win_loss_tie = value[19:29].split('-')
#     dict_win_loss_tie[index] = 
#     print(win_loss_tie)

{2: ['890', '312', '41'],
 6: ['682', '480', '37'],
 7: ['183', '236', '2 '],
 9: ['744', '429', '42'],
 11: ['584', '565', '40'],
 17: ['568', '512', '31'],
 24: ['516', '555', '31'],
 27: ['321', '295', '3 '],
 32: ['508', '235', '16'],
 33: ['351', '250', '4 '],
 37: ['728', '481', '40'],
 39: ['429', '346', '14'],
 41: ['460', '655', '38'],
 42: ['620', '529', '34'],
 43: ['512', '641', '45'],
 45: ['472', '600', '34'],
 47: ['492', '551', '36'],
 49: ['205', '295', '5 '],
 50: ['230', '210', '7 '],
 52: ['351', '296', '7 '],
 53: ['769', '400', '47'],
 57: ['315', '337', '8 '],
 59: ['351', '277', '15'],
 61: ['573', '382', '30'],
 64: ['555', '566', '36'],
 65: ['631', '529', '50'],
 67: ['863', '363', '37'],
 69: ['161', '314', '3 '],
 71: ['315', '578', '14'],
 72: ['631', '514', '48'],
 74: ['261', '327', '11'],
 76: ['536', '658', '40'],
 77: ['820', '310', '33'],
 79: ['791', '257', '36'],
 83: ['612', '501', '34'],
 84: ['580', '454', '34'],
 85: ['462', '562', '36'],
 87: ['676', '481', '37'],
 88: ['604', '562', '48'],
 89: ['465', '615', '32'],
 90: ['479', '477', '22'],
 91: ['324', '260', '8 '],
 92: ['334', '417', '14'],
 93: ['487', '536', '54'],
 95: ['576', '545', '41'],
 97: ['360', '278', '6 '],
 99: ['663', '490', '41'],
 100: ['317', '411', '26'],
 101: ['814', '372', '50'],
 102: ['858', '360', '31'],
 104: ['630', '526', '50'],
 107: ['385', '261', '8 '],
 109: ['503', '623', '35'],
 113: ['576', '391', '31'],
 114: ['741', '305', '40'],
 116: ['509', '512', '28'],
 119: ['545', '596', '43'],
 121: ['709', '455', '44'],
 123: ['632', '418', '32'],
 124: ['475', '518', '38'],
 127: ['331', '299', '7 '],
 128: ['701', '489', '52'],
 129: ['508', '559', '26']}

Next, convert the values in each list to integer values (at the moment they are strings, which is indicated by the quotes around them).

In [11]:
for item in dict_index_record:
    for i in range(len(dict_index_record[item])):
        dict_index_record[item][i] = int(dict_index_record[item][i])
#         print(dict_index_record[item])
dict_index_record

{2: [890, 312, 41],
 6: [682, 480, 37],
 7: [183, 236, 2],
 9: [744, 429, 42],
 11: [584, 565, 40],
 17: [568, 512, 31],
 24: [516, 555, 31],
 27: [321, 295, 3],
 32: [508, 235, 16],
 33: [351, 250, 4],
 37: [728, 481, 40],
 39: [429, 346, 14],
 41: [460, 655, 38],
 42: [620, 529, 34],
 43: [512, 641, 45],
 45: [472, 600, 34],
 47: [492, 551, 36],
 49: [205, 295, 5],
 50: [230, 210, 7],
 52: [351, 296, 7],
 53: [769, 400, 47],
 57: [315, 337, 8],
 59: [351, 277, 15],
 61: [573, 382, 30],
 64: [555, 566, 36],
 65: [631, 529, 50],
 67: [863, 363, 37],
 69: [161, 314, 3],
 71: [315, 578, 14],
 72: [631, 514, 48],
 74: [261, 327, 11],
 76: [536, 658, 40],
 77: [820, 310, 33],
 79: [791, 257, 36],
 83: [612, 501, 34],
 84: [580, 454, 34],
 85: [462, 562, 36],
 87: [676, 481, 37],
 88: [604, 562, 48],
 89: [465, 615, 32],
 90: [479, 477, 22],
 91: [324, 260, 8],
 92: [334, 417, 14],
 93: [487, 536, 54],
 95: [576, 545, 41],
 97: [360, 278, 6],
 99: [663, 490, 41],
 100: [317, 411, 26],
 101: [814, 372, 50],
 102: [858, 360, 31],
 104: [630, 526, 50],
 107: [385, 261, 8],
 109: [503, 623, 35],
 113: [576, 391, 31],
 114: [741, 305, 40],
 116: [509, 512, 28],
 119: [545, 596, 43],
 121: [709, 455, 44],
 123: [632, 418, 32],
 124: [475, 518, 38],
 127: [331, 299, 7],
 128: [701, 489, 52],
 129: [508, 559, 26]}

Now, we take each record and create a dictionary to house the official win-loss-tie data for each record.

In [12]:
# sample code
lst1 = [4, 7, 2]
lst2 = [3, 6, 5]

outcome = ['win', 'loss', 'tie']
inner_dict = {}
dict_prac = {}
lst = [lst1, lst2]
for thing in range(len(lst)):
    for j in range(len(lst[thing])):
#         print(j)

        inner_dict[outcome[j]] = lst[thing][j]
    dict_prac[str(lst[thing])] = inner_dict
    inner_dict = {}
dict_prac

{'[4, 7, 2]': {'win': 4, 'loss': 7, 'tie': 2},
 '[3, 6, 5]': {'win': 3, 'loss': 6, 'tie': 5}}

The next code block generates a dictionary housing the official win-loss-tie data for each team in a dictionary, `dict_win_loss_tie`.

In [72]:
outcome = ['o_win', 'o_loss', 'o_tie']
inner_dict = {}
dict_official_win_loss_tie = {}

for thing in dict_index_record:
    for j in range(len(dict_index_record[thing])):
#         print(j)

        inner_dict[outcome[j]] = dict_index_record[thing][j]
    dict_official_win_loss_tie[thing] = inner_dict
    inner_dict = {}
dict_official_win_loss_tie

{2: {'o_win': 890, 'o_loss': 312, 'o_tie': 41},
 6: {'o_win': 682, 'o_loss': 480, 'o_tie': 37},
 7: {'o_win': 183, 'o_loss': 236, 'o_tie': 2},
 9: {'o_win': 744, 'o_loss': 429, 'o_tie': 42},
 11: {'o_win': 584, 'o_loss': 565, 'o_tie': 40},
 17: {'o_win': 568, 'o_loss': 512, 'o_tie': 31},
 24: {'o_win': 516, 'o_loss': 555, 'o_tie': 31},
 27: {'o_win': 321, 'o_loss': 295, 'o_tie': 3},
 32: {'o_win': 508, 'o_loss': 235, 'o_tie': 16},
 33: {'o_win': 351, 'o_loss': 250, 'o_tie': 4},
 37: {'o_win': 728, 'o_loss': 481, 'o_tie': 40},
 39: {'o_win': 429, 'o_loss': 346, 'o_tie': 14},
 41: {'o_win': 460, 'o_loss': 655, 'o_tie': 38},
 42: {'o_win': 620, 'o_loss': 529, 'o_tie': 34},
 43: {'o_win': 512, 'o_loss': 641, 'o_tie': 45},
 45: {'o_win': 472, 'o_loss': 600, 'o_tie': 34},
 47: {'o_win': 492, 'o_loss': 551, 'o_tie': 36},
 49: {'o_win': 205, 'o_loss': 295, 'o_tie': 5},
 50: {'o_win': 230, 'o_loss': 210, 'o_tie': 7},
 52: {'o_win': 351, 'o_loss': 296, 'o_tie': 7},
 53: {'o_win': 769, 'o_loss': 400, 'o_tie': 47},
 57: {'o_win': 315, 'o_loss': 337, 'o_tie': 8},
 59: {'o_win': 351, 'o_loss': 277, 'o_tie': 15},
 61: {'o_win': 573, 'o_loss': 382, 'o_tie': 30},
 64: {'o_win': 555, 'o_loss': 566, 'o_tie': 36},
 65: {'o_win': 631, 'o_loss': 529, 'o_tie': 50},
 67: {'o_win': 863, 'o_loss': 363, 'o_tie': 37},
 69: {'o_win': 161, 'o_loss': 314, 'o_tie': 3},
 71: {'o_win': 315, 'o_loss': 578, 'o_tie': 14},
 72: {'o_win': 631, 'o_loss': 514, 'o_tie': 48},
 74: {'o_win': 261, 'o_loss': 327, 'o_tie': 11},
 76: {'o_win': 536, 'o_loss': 658, 'o_tie': 40},
 77: {'o_win': 820, 'o_loss': 310, 'o_tie': 33},
 79: {'o_win': 791, 'o_loss': 257, 'o_tie': 36},
 83: {'o_win': 612, 'o_loss': 501, 'o_tie': 34},
 84: {'o_win': 580, 'o_loss': 454, 'o_tie': 34},
 85: {'o_win': 462, 'o_loss': 562, 'o_tie': 36},
 87: {'o_win': 676, 'o_loss': 481, 'o_tie': 37},
 88: {'o_win': 604, 'o_loss': 562, 'o_tie': 48},
 89: {'o_win': 465, 'o_loss': 615, 'o_tie': 32},
 90: {'o_win': 479, 'o_loss': 477, 'o_tie': 22},
 91: {'o_win': 324, 'o_loss': 260, 'o_tie': 8},
 92: {'o_win': 334, 'o_loss': 417, 'o_tie': 14},
 93: {'o_win': 487, 'o_loss': 536, 'o_tie': 54},
 95: {'o_win': 576, 'o_loss': 545, 'o_tie': 41},
 97: {'o_win': 360, 'o_loss': 278, 'o_tie': 6},
 99: {'o_win': 663, 'o_loss': 490, 'o_tie': 41},
 100: {'o_win': 317, 'o_loss': 411, 'o_tie': 26},
 101: {'o_win': 814, 'o_loss': 372, 'o_tie': 50},
 102: {'o_win': 858, 'o_loss': 360, 'o_tie': 31},
 104: {'o_win': 630, 'o_loss': 526, 'o_tie': 50},
 107: {'o_win': 385, 'o_loss': 261, 'o_tie': 8},
 109: {'o_win': 503, 'o_loss': 623, 'o_tie': 35},
 113: {'o_win': 576, 'o_loss': 391, 'o_tie': 31},
 114: {'o_win': 741, 'o_loss': 305, 'o_tie': 40},
 116: {'o_win': 509, 'o_loss': 512, 'o_tie': 28},
 119: {'o_win': 545, 'o_loss': 596, 'o_tie': 43},
 121: {'o_win': 709, 'o_loss': 455, 'o_tie': 44},
 123: {'o_win': 632, 'o_loss': 418, 'o_tie': 32},
 124: {'o_win': 475, 'o_loss': 518, 'o_tie': 38},
 127: {'o_win': 331, 'o_loss': 299, 'o_tie': 7},
 128: {'o_win': 701, 'o_loss': 489, 'o_tie': 52},
 129: {'o_win': 508, 'o_loss': 559, 'o_tie': 26}}

In [73]:
inner_dict

{}

From the above variable, `dict_official_win_loss_tie`, we create feature variables that capture the official `'adjusted'` outcomes.

In [21]:
stuff_to_keep.columns

Index(['Rk', 'School', 'From', 'To', 'Yrs', 'G', 'W', 'L', 'T', 'Pct', 'G.1',
       'W.1', 'L.1', 'T.1', 'Pct.1', 'SRS', 'SOS', 'AP', 'CC', 'Notes'],
      dtype='object')

In [22]:
stuff_to_keep['Pct']

0      0.541
1      0.396
2      0.744
3      0.572
4      0.534
5      0.616
6      0.583
7      0.450
8      0.567
9      0.628
10     0.489
11     0.508
12     0.776
13     0.561
14     0.557
15     0.575
16     0.377
17     0.526
18     0.545
19     0.250
20     0.492
21     0.611
22     0.333
23     0.573
24     0.481
25     0.423
26     0.488
27     0.519
28     0.314
29     0.623
30     0.410
31     0.365
32     0.684
33     0.582
34     0.658
35     0.565
36     0.260
37     0.599
38     0.506
39     0.553
40     0.502
41     0.415
42     0.538
43     0.445
44     0.462
45     0.442
46     0.325
47     0.472
48     0.500
49     0.434
50     0.520
51     0.365
52     0.539
53     0.650
54     0.464
55     0.523
56     0.340
57     0.482
58     0.639
59     0.556
60     0.729
61     0.602
62     0.496
63     0.567
64     0.510
65     0.540
66     0.550
67     0.698
68     0.542
69     0.378
70     0.428
71     0.354
72     0.555
73     0.509
74     0.440
75     0.491
76     0.450
77     0.724
78     0.441
79     0.748
80     0.725
81     0.520
82     0.492
83     0.558
84     0.558
85     0.451
86     0.688
87     0.581
88     0.516
89     0.432
90     0.500
91     0.552
92     0.444
93     0.477
94     0.368
95     0.512
96     0.576
97     0.559
98     0.565
99     0.576
100    0.444
101    0.678
102    0.699
103    0.602
104    0.543
105    0.321
106    0.557
107    0.592
108    0.548
109    0.447
110    0.519
111    0.423
112    0.560
113    0.600
114    0.705
115    0.592
116    0.497
117    0.377
118    0.440
119    0.478
120    0.499
121    0.604
122    0.408
123    0.596
124    0.477
125    0.598
126    0.483
127    0.524
128    0.585
129    0.476
Name: Pct, dtype: float64

In [70]:
index = [index for index in stuff_to_keep.index]
index
# for item in dict_official_win_loss_tie:
#     print(item)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129]

In [71]:
# This cell collects all the indices that do not have a difference between the official NCAA win-loss-tie data
# and the initial.
index_to_consider = index
for item in dict_official_win_loss_tie:
    index_to_consider.remove(item)
index_to_consider

[0,
 1,
 3,
 4,
 5,
 8,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 25,
 26,
 28,
 29,
 30,
 31,
 34,
 35,
 36,
 38,
 40,
 44,
 46,
 48,
 51,
 54,
 55,
 56,
 58,
 60,
 62,
 63,
 66,
 68,
 70,
 73,
 75,
 78,
 80,
 81,
 82,
 86,
 94,
 96,
 98,
 103,
 105,
 106,
 108,
 110,
 111,
 112,
 115,
 117,
 118,
 120,
 122,
 125,
 126]

In [75]:
stuff_to_keep.loc[2]['W']

919

In [81]:
initial_outcome = ['W', 'L', 'T']
outcome = ['o_win', 'o_loss', 'o_tie']
inner_dict = {}

for thing in index_to_consider:
    for j in range(len(outcome)):
#         print(j)

        inner_dict[outcome[j]] = stuff_to_keep.loc[thing][initial_outcome[j]]
        dict_official_win_loss_tie[thing] = inner_dict
    inner_dict = {}
dict_official_win_loss_tie

{2: {'o_win': 890, 'o_loss': 312, 'o_tie': 41},
 6: {'o_win': 682, 'o_loss': 480, 'o_tie': 37},
 7: {'o_win': 183, 'o_loss': 236, 'o_tie': 2},
 9: {'o_win': 744, 'o_loss': 429, 'o_tie': 42},
 11: {'o_win': 584, 'o_loss': 565, 'o_tie': 40},
 17: {'o_win': 568, 'o_loss': 512, 'o_tie': 31},
 24: {'o_win': 516, 'o_loss': 555, 'o_tie': 31},
 27: {'o_win': 321, 'o_loss': 295, 'o_tie': 3},
 32: {'o_win': 508, 'o_loss': 235, 'o_tie': 16},
 33: {'o_win': 351, 'o_loss': 250, 'o_tie': 4},
 37: {'o_win': 728, 'o_loss': 481, 'o_tie': 40},
 39: {'o_win': 429, 'o_loss': 346, 'o_tie': 14},
 41: {'o_win': 460, 'o_loss': 655, 'o_tie': 38},
 42: {'o_win': 620, 'o_loss': 529, 'o_tie': 34},
 43: {'o_win': 512, 'o_loss': 641, 'o_tie': 45},
 45: {'o_win': 472, 'o_loss': 600, 'o_tie': 34},
 47: {'o_win': 492, 'o_loss': 551, 'o_tie': 36},
 49: {'o_win': 205, 'o_loss': 295, 'o_tie': 5},
 50: {'o_win': 230, 'o_loss': 210, 'o_tie': 7},
 52: {'o_win': 351, 'o_loss': 296, 'o_tie': 7},
 53: {'o_win': 769, 'o_loss': 400, 'o_tie': 47},
 57: {'o_win': 315, 'o_loss': 337, 'o_tie': 8},
 59: {'o_win': 351, 'o_loss': 277, 'o_tie': 15},
 61: {'o_win': 573, 'o_loss': 382, 'o_tie': 30},
 64: {'o_win': 555, 'o_loss': 566, 'o_tie': 36},
 65: {'o_win': 631, 'o_loss': 529, 'o_tie': 50},
 67: {'o_win': 863, 'o_loss': 363, 'o_tie': 37},
 69: {'o_win': 161, 'o_loss': 314, 'o_tie': 3},
 71: {'o_win': 315, 'o_loss': 578, 'o_tie': 14},
 72: {'o_win': 631, 'o_loss': 514, 'o_tie': 48},
 74: {'o_win': 261, 'o_loss': 327, 'o_tie': 11},
 76: {'o_win': 536, 'o_loss': 658, 'o_tie': 40},
 77: {'o_win': 820, 'o_loss': 310, 'o_tie': 33},
 79: {'o_win': 791, 'o_loss': 257, 'o_tie': 36},
 83: {'o_win': 612, 'o_loss': 501, 'o_tie': 34},
 84: {'o_win': 580, 'o_loss': 454, 'o_tie': 34},
 85: {'o_win': 462, 'o_loss': 562, 'o_tie': 36},
 87: {'o_win': 676, 'o_loss': 481, 'o_tie': 37},
 88: {'o_win': 604, 'o_loss': 562, 'o_tie': 48},
 89: {'o_win': 465, 'o_loss': 615, 'o_tie': 32},
 90: {'o_win': 479, 'o_loss': 477, 'o_tie': 22},
 91: {'o_win': 324, 'o_loss': 260, 'o_tie': 8},
 92: {'o_win': 334, 'o_loss': 417, 'o_tie': 14},
 93: {'o_win': 487, 'o_loss': 536, 'o_tie': 54},
 95: {'o_win': 576, 'o_loss': 545, 'o_tie': 41},
 97: {'o_win': 360, 'o_loss': 278, 'o_tie': 6},
 99: {'o_win': 663, 'o_loss': 490, 'o_tie': 41},
 100: {'o_win': 317, 'o_loss': 411, 'o_tie': 26},
 101: {'o_win': 814, 'o_loss': 372, 'o_tie': 50},
 102: {'o_win': 858, 'o_loss': 360, 'o_tie': 31},
 104: {'o_win': 630, 'o_loss': 526, 'o_tie': 50},
 107: {'o_win': 385, 'o_loss': 261, 'o_tie': 8},
 109: {'o_win': 503, 'o_loss': 623, 'o_tie': 35},
 113: {'o_win': 576, 'o_loss': 391, 'o_tie': 31},
 114: {'o_win': 741, 'o_loss': 305, 'o_tie': 40},
 116: {'o_win': 509, 'o_loss': 512, 'o_tie': 28},
 119: {'o_win': 545, 'o_loss': 596, 'o_tie': 43},
 121: {'o_win': 709, 'o_loss': 455, 'o_tie': 44},
 123: {'o_win': 632, 'o_loss': 418, 'o_tie': 32},
 124: {'o_win': 475, 'o_loss': 518, 'o_tie': 38},
 127: {'o_win': 331, 'o_loss': 299, 'o_tie': 7},
 128: {'o_win': 701, 'o_loss': 489, 'o_tie': 52},
 129: {'o_win': 508, 'o_loss': 559, 'o_tie': 26},
 0: {'o_win': 384, 'o_loss': 325, 'o_tie': 12},
 1: {'o_win': 150, 'o_loss': 230, 'o_tie': 3},
 3: {'o_win': 97, 'o_loss': 72, 'o_tie': 5},
 4: {'o_win': 486, 'o_loss': 422, 'o_tie': 23},
 5: {'o_win': 568, 'o_loss': 351, 'o_tie': 18},
 8: {'o_win': 678, 'o_loss': 511, 'o_tie': 51},
 10: {'o_win': 246, 'o_loss': 257, 'o_tie': 4},
 12: {'o_win': 229, 'o_loss': 66, 'o_tie': 0},
 13: {'o_win': 500, 'o_loss': 390, 'o_tie': 14},
 14: {'o_win': 352, 'o_loss': 279, 'o_tie': 11},
 15: {'o_win': 575, 'o_loss': 421, 'o_tie': 26},
 16: {'o_win': 121, 'o_loss': 201, 'o_tie': 4},
 18: {'o_win': 273, 'o_loss': 227, 'o_tie': 11},
 19: {'o_win': 12, 'o_loss': 36, 'o_tie': 0},
 20: {'o_win': 352, 'o_loss': 364, 'o_tie': 12},
 21: {'o_win': 724, 'o_loss': 452, 'o_tie': 44},
 22: {'o_win': 8, 'o_loss': 16, 'o_tie': 0},
 23: {'o_win': 652, 'o_loss': 481, 'o_tie': 35},
 25: {'o_win': 101, 'o_loss': 138, 'o_tie': 2},
 26: {'o_win': 490, 'o_loss': 514, 'o_tie': 28},
 28: {'o_win': 153, 'o_loss': 338, 'o_tie': 7},
 29: {'o_win': 697, 'o_loss': 414, 'o_tie': 37},
 30: {'o_win': 75, 'o_loss': 108, 'o_tie': 0},
 31: {'o_win': 66, 'o_loss': 115, 'o_tie': 0},
 34: {'o_win': 793, 'o_loss': 400, 'o_tie': 50},
 35: {'o_win': 35, 'o_loss': 27, 'o_tie': 0},
 36: {'o_win': 19, 'o_loss': 54, 'o_tie': 0},
 38: {'o_win': 282, 'o_loss': 275, 'o_tie': 6},
 40: {'o_win': 596, 'o_loss': 592, 'o_tie': 49},
 44: {'o_win': 527, 'o_loss': 617, 'o_tie': 54},
 46: {'o_win': 203, 'o_loss': 425, 'o_tie': 5},
 48: {'o_win': 6, 'o_loss': 6, 'o_tie': 0},
 51: {'o_win': 134, 'o_loss': 234, 'o_tie': 2},
 54: {'o_win': 224, 'o_loss': 259, 'o_tie': 3},
 55: {'o_win': 557, 'o_loss': 506, 'o_tie': 30},
 56: {'o_win': 65, 'o_loss': 129, 'o_tie': 6},
 58: {'o_win': 581, 'o_loss': 325, 'o_tie': 12},
 60: {'o_win': 927, 'o_loss': 334, 'o_tie': 35},
 62: {'o_win': 121, 'o_loss': 123, 'o_tie': 0},
 63: {'o_win': 679, 'o_loss': 513, 'o_tie': 42},
 66: {'o_win': 678, 'o_loss': 549, 'o_tie': 52},
 68: {'o_win': 206, 'o_loss': 174, 'o_tie': 0},
 70: {'o_win': 398, 'o_loss': 534, 'o_tie': 17},
 73: {'o_win': 576, 'o_loss': 555, 'o_tie': 46},
 75: {'o_win': 289, 'o_loss': 300, 'o_tie': 4},
 78: {'o_win': 281, 'o_loss': 357, 'o_tie': 9},
 80: {'o_win': 843, 'o_loss': 305, 'o_tie': 47},
 81: {'o_win': 559, 'o_loss': 515, 'o_tie': 41},
 82: {'o_win': 30, 'o_loss': 31, 'o_tie': 0},
 86: {'o_win': 865, 'o_loss': 383, 'o_tie': 37},
 94: {'o_win': 32, 'o_loss': 55, 'o_tie': 0},
 96: {'o_win': 133, 'o_loss': 98, 'o_tie': 0},
 98: {'o_win': 579, 'o_loss': 442, 'o_tie': 34},
 103: {'o_win': 719, 'o_loss': 468, 'o_tie': 44},
 105: {'o_win': 27, 'o_loss': 57, 'o_tie': 0},
 106: {'o_win': 536, 'o_loss': 424, 'o_tie': 24},
 108: {'o_win': 121, 'o_loss': 100, 'o_tie': 0},
 110: {'o_win': 485, 'o_loss': 449, 'o_tie': 18},
 111: {'o_win': 105, 'o_loss': 143, 'o_tie': 0},
 112: {'o_win': 158, 'o_loss': 124, 'o_tie': 0},
 115: {'o_win': 646, 'o_loss': 441, 'o_tie': 30},
 117: {'o_win': 325, 'o_loss': 543, 'o_tie': 18},
 118: {'o_win': 37, 'o_loss': 47, 'o_tie': 0},
 120: {'o_win': 576, 'o_loss': 579, 'o_tie': 37},
 122: {'o_win': 447, 'o_loss': 655, 'o_tie': 31},
 125: {'o_win': 662, 'o_loss': 438, 'o_tie': 41},
 126: {'o_win': 73, 'o_loss': 78, 'o_tie': 0}}

In [97]:
# official win loss tie data for all of the teams

official_wlt = pd.DataFrame(dict_official_win_loss_tie)
official_wlt = official_wlt.T.sort_index()
official_wlt

     o_loss  o_tie  o_win
0       325     12    384
1       230      3    150
2       312     41    890
3        72      5     97
4       422     23    486
5       351     18    568
6       480     37    682
7       236      2    183
8       511     51    678
9       429     42    744
10      257      4    246
11      565     40    584
12       66      0    229
13      390     14    500
14      279     11    352
15      421     26    575
16      201      4    121
17      512     31    568
18      227     11    273
19       36      0     12
20      364     12    352
21      452     44    724
22       16      0      8
23      481     35    652
24      555     31    516
25      138      2    101
26      514     28    490
27      295      3    321
28      338      7    153
29      414     37    697
30      108      0     75
31      115      0     66
32      235     16    508
33      250      4    351
34      400     50    793
35       27      0     35
36       54      0     19
37      481     40    728
38      275      6    282
39      346     14    429
40      592     49    596
41      655     38    460
42      529     34    620
43      641     45    512
44      617     54    527
45      600     34    472
46      425      5    203
47      551     36    492
48        6      0      6
49      295      5    205
50      210      7    230
51      234      2    134
52      296      7    351
53      400     47    769
54      259      3    224
55      506     30    557
56      129      6     65
57      337      8    315
58      325     12    581
59      277     15    351
60      334     35    927
61      382     30    573
62      123      0    121
63      513     42    679
64      566     36    555
65      529     50    631
66      549     52    678
67      363     37    863
68      174      0    206
69      314      3    161
70      534     17    398
71      578     14    315
72      514     48    631
73      555     46    576
74      327     11    261
75      300      4    289
76      658     40    536
77      310     33    820
78      357      9    281
79      257     36    791
80      305     47    843
81      515     41    559
82       31      0     30
83      501     34    612
84      454     34    580
85      562     36    462
86      383     37    865
87      481     37    676
88      562     48    604
89      615     32    465
90      477     22    479
91      260      8    324
92      417     14    334
93      536     54    487
94       55      0     32
95      545     41    576
96       98      0    133
97      278      6    360
98      442     34    579
99      490     41    663
100     411     26    317
101     372     50    814
102     360     31    858
103     468     44    719
104     526     50    630
105      57      0     27
106     424     24    536
107     261      8    385
108     100      0    121
109     623     35    503
110     449     18    485
111     143      0    105
112     124      0    158
113     391     31    576
114     305     40    741
115     441     30    646
116     512     28    509
117     543     18    325
118      47      0     37
119     596     43    545
120     579     37    576
121     455     44    709
122     655     31    447
123     418     32    632
124     518     38    475
125     438     41    662
126      78      0     73
127     299      7    331
128     489     52    701
129     559     26    508

In [79]:
outcome = ['o_win', 'o_loss', 'o_tie']
for j in range(len(outcome)):
    print(j)

0
1
2

In [45]:
lst = [1, 2, 3]
lst

[1, 2, 3]

In [52]:
lst.remove(2)

In [53]:
lst

[1, 3]

In [54]:
for item in lst:
    index.remove(item)
index

[0, 2, 4]